table {
  margin: 16px auto;
}

tr td {
  background-color: #F6F5F5;  /* branco */
  /* background-color: #E3C4A8; */
  text-align: center;
}

/* primeira e último elemento da primeira linha */
th:first-child {
  border-radius: 4px 0 0 0;
}
th:last-child {
  border-radius: 0 4px 0 0;
}

th {
  background-color: #E3C4A8;
  padding: 16px 8px;
  width: 14rem;
  color:#33313B;
}