* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #EDDDCF;
}
/* CABEÇALHO */
ul {
    overflow: hidden;
    list-style-type: none;
    background-color: #33313B;
  }
  
header li {
    float: left;
}

header li a {
display: block;
color: #fff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

header li a:hover {
background-color: #111;
}

.fazer-login {
    float: right;
}
/* FOOTER */
.item-rodape {
    display: flex;
    flex-direction: column;

    width: 16rem;
    gap: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 8px;
}

footer h5 {
    font-size: 1rem;
}
.rodape {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    gap: 16px;

    margin: 16px 0;
}
footer {   

    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #33313B;
    text-align: center;  
    margin-top: auto;    

}

/* FORMULARIOS */
input, .btn, select {
    padding: 8px;
    border-radius: 4px;
    border: 2px solid transparent;
}

input:focus {
    outline: none !important;
    border: 2px solid #4592AF;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
  pointer-events: none;
}

.btn[type="reset"] {
    background-color: #E3C4A8;
    color: #1a181d;
}
.btn[type="reset"]:hover {
    background-color: #bba088;
    transition: 0.2s;
}

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

.bg-azul-500 {
    background-color: #4592AF;
    color: #fff;
}
.bg-azul-500:hover {
    background-color: #2e6b81;
    transition: 0.2s;
}

.bg-vermelho-500 {
    background-color: #D55353;
    color: #F6F5F5;
}
.bg-vermelho-500:hover {
    background-color: #974545;
    transition: 0.2s;
}
/* SOBRE.HTML */
.text-container {
    text-align: justify;
    width: 54rem;
    margin: 16px auto;
}

.logo {
    margin: 8px auto;
    text-align: center;
}

.text-container .text-img {
    width: 24rem;
    border-radius: 4px;
}

.text-container h2 {
    text-align: center;
}
.p-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 16px;
    margin: 8px 0;
}

