* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

input, .btn, select {
    padding: 8px;
    border-radius: 4px;
    border: 2px solid transparent;
}

input:focus {
    outline: none !important;
    border: 2px solid #4592AF;
    box-shadow: 0 0 10px #3C6275;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.btn[type="reset"] {
    background-color: #E3C4A8;
    color: #1a181d;
}

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.row-form {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.bg-azul-500 {
    background-color: #4592AF;
    color: #fff;
}

.bg-vermelho-500 {
    background-color: #D55353;
    color: #F6F5F5;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #EDDDCF;
}

ul {
    overflow: hidden;
    list-style-type: none;
    background-color: #33313B;
  }
  
header li {
    float: left;
}

header li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

header li a:hover {
background-color: #111;
}

.fazer-login {
    float: right;
}

.item-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 16px;
}

footer h5 {
    font-size: 1rem;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;  
    margin-top: auto;    
}

.logo{
    width: 5rem;
}